{% extends 'learnera/basic.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block css %}
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active Dashboard" aria-current="page" href="#" id="dash">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link order" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Publishtions" href="#">
                                <span data-feather="shopping-cart"></span>
                                Publishtions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Earnings" href="#">
                                <span data-feather="users"></span>
                                Your Earnings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Publish" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Publish Course
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="main-content"
                  style="background-image: url('{% static 'learnera/profile_back.jpg' %}'); background-size: cover;">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 my-4" id="HeadPage">Profile</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>

                <div class="col-11 py-5 my-5 d-flex justify-content-center">
                    <img src="{{ user.socialaccount_set.all.0.extra_data.picture }}"
                         style="height:150px; border-radius: 50%; border: 10px solid #FEDE00;">
                </div>


                <div class="col-11 py-5 my-5 d-flex justify-content-center">
                <h1>{{ user.socialaccount_set.all.0.extra_data.name }}</h1>
                </div>
                <hr>
            </main>
        </div>
    </div>
{% endblock %}

<script>
{% block js %}
        function changeContent(){
            $.ajax({
                type:'get',
                success:function(reponse){
                    $("#main-content").css('background-image', 'none');
                    $(".nav-link").removeClass("active");
                    $(".order").addClass("active");

                    document.getElementById("HeadPage").innerHTML= 'Courses You have bought !' ;


                }
            });
        }

        $('.order').click(function (event){
            event.preventDefault();
            changeContent();
        });


        function changeContentPublishtions(){
            $.ajax({
                type:'get',
                success:function(reponse){
                    $("#main-content").css('background-image', 'none');
                    $(".nav-link").removeClass("active");
                    $(".Publishtions").addClass("active");

                    document.getElementById("HeadPage").innerHTML= 'Courses You have Published !' ;


                }
            });
        }

        $('.Publishtions').click(function (event){
            event.preventDefault();
            changeContentPublishtions();
        });

        function changeContentEarnings(){
            $.ajax({
                type:'get',
                success:function(reponse){
                    $("#main-content").css('background-image', 'none');
                    $(".nav-link").removeClass("active");
                    $(".Earnings").addClass("active");

                    document.getElementById("HeadPage").innerHTML= 'Your Earnings !' ;


                }
            });
        }

        $('.Earnings').click(function (event){
            event.preventDefault();
            changeContentEarnings();
        });

        function changeContentPublish(){
            $.ajax({
                type:'get',
                success:function(reponse){
                    $("#main-content").css('background-image', 'none');
                    $(".nav-link").removeClass("active");
                    $(".Publish").addClass("active");

                    document.getElementById("HeadPage").innerHTML= 'New Publishtion !' ;


                }
            });
        }

        $('.Publish').click(function (event){
            event.preventDefault();
            changeContentPublish();
        });




    </script>
{% endblock %}